<div class="search-page">

  <div class="search-form" style="margin-bottom: 20px !important;">
    <form>
      <input type="text" class="form-control" required id="search" [(ngModel)]="model.search" name="search" pattern="[a-zA-Z0-9]*" minlength="6" maxlength="10" #search="ngModel" placeholder="Enter the vehicle registration number">
      <button (click)="searchVehicle()">Search</button>
      <button (click)="addVehicle()">Add Vehicle</button>
      <button style="float:right" (click)="navigateMain()">Logout</button><br>
      <div [hidden]="search.valid || search.pristine" class="alert-msg">
        <!-- <div [hidden]="!search.hasError('minlength') || !search.hasError('maxlength') || !search.hasError('pattern')">Invalid registration number</div> -->
        <div [hidden]="!search.hasError('minlength')">Registration number should be 10 digits</div>
        <div [hidden]="!search.hasError('required')">Registration number is required</div>
        <div [hidden]="!search.hasError('pattern')">Registration number should be only numbers</div>
      </div>
    </form>
  </div>

  <div class="search-form" style="margin-bottom: 20px !important;" *ngIf="searchDetails">
    <table border="1">
      <tr>
        <th>Vehicle Number</th>
        <td>{{find.vehicle_no}}</td>  
      </tr>
      <tr>
        <th>Model Name</th>
        <td>{{find.vehicle_model_name}}</td>
      </tr>
      <tr>
        <th>Registered Year</th>
        <td>{{find.vehicle_registered_year}}</td>
      </tr>
      <tr>
        <th>Chasis number</th>
        <td>{{find.vehicle_chasis_no}}</td>
      </tr>
      <tr>
        <th>Engine number</th>
        <td>{{find.vehicle_engine_no}}</td>
      </tr>
      <tr>
        <th>Owner Name</th>
        <td>{{find.vehicle_owner_name}}</td>
      </tr>
      <tr>
        <th>Owner Address</th>
        <td>{{find.vehicle_owner_address}}</td>
      </tr>
    </table>
  </div>


  <div class="add-form" *ngIf="addForm">
    <h2>Add new vehicle</h2>
    <form (ngSubmit)="onSubmit()" #addVehicle="ngForm">
      <input type="text" class="form-control" id="search" required [(ngModel)]="vehicle.vehicles_new_no" name="search" pattern="[a-zA-Z0-9]*" minlength="6" maxlength="10" #search="ngModel" placeholder="Enter the vehicle registration number">
      <div [hidden]="search.valid || search.pristine" class="alert-msg-new-veh">
        <div [hidden]="!search.hasError('minlength')">Minimum 6 characters allowed</div>
        <div [hidden]="!search.hasError('maxlength')">Maximum 10 characters allowed</div>
        <div [hidden]="!search.hasError('required')">Vehicle number required</div>
        <div [hidden]="!search.hasError('pattern')">Invalid registration number</div>
      </div>

      <input type="text" class="form-control" id="chasis" required [(ngModel)]="vehicle.vehicles_new_chasis_no" name="chasis" pattern="[0-9]*" maxlength="15" #chasis="ngModel" placeholder="Enter chasis number">
      <div [hidden]="chasis.valid || chasis.pristine" class="alert-msg-new-veh">
        <div [hidden]="!chasis.hasError('required')">This is Required</div>
        <div [hidden]="!chasis.hasError('maxlength')">Maximum 15 characters allowed</div>
        <div [hidden]="!chasis.hasError('pattern')">Only numbers allowed</div>
      </div>

      <input type="text" class="form-control" id="engine" required [(ngModel)]="vehicle.vehicles_new_engine_no" name="engine" pattern="[0-9]*" maxlength="15" #engine="ngModel" placeholder="Enter engine number">
      <div [hidden]="engine.valid || engine.pristine" class="alert-msg-new-veh">
        <div [hidden]="!engine.hasError('required')">This is Required</div>
        <div [hidden]="!engine.hasError('maxlength')">Maximum 15 characters allowed</div>
        <div [hidden]="!engine.hasError('pattern')">Only numbers allowed</div>
      </div>

      <input type="text" class="form-control" id="year" required [(ngModel)]="vehicle.vehicles_new_registered_year" name="year" #year="ngModel" placeholder="Enter year of manufacture" [disabled]="true">

      <!-- <input type="text" class="form-control" id="modelID" required [(ngModel)]="vehicle.vehicles_new_model_id" name="modelID" #modelID="ngModel" placeholder="Enter model number" [disabled]="true"> -->

      <input type="text" class="form-control" id="ownerName" required [(ngModel)]="vehicle.vehicles_new_owner_name" name="ownerName" pattern="[a-zA-z ]*" maxlength="30" #ownerName="ngModel" placeholder="Enter owner name">
      <div [hidden]="ownerName.valid || ownerName.pristine" class="alert-msg-new-veh">
        <div [hidden]="!ownerName.hasError('required')">Owner name required</div>
        <div [hidden]="!ownerName.hasError('maxlength')">Maxlength 30 allowed</div>
        <div [hidden]="!ownerName.hasError('pattern')">Only alphabets allowed</div>
      </div>

      <input type="text" class="form-control" id="ownerAddr" required [(ngModel)]="vehicle.vehicles_new_owner_address" name="ownerAddr" #ownerAddr="ngModel" placeholder="Enter owner address">
      <div [hidden]="ownerAddr.valid || ownerAddr.pristine" class="alert-msg-new-veh">
        <div [hidden]="!ownerAddr.hasError('required')">Address is required</div>
      </div>

      <select class="form-control select-css" required [(ngModel)]="vehicle.vehicles_new_model_id" id="vehicles_new_model_id" name="vehicles_new_model_id">
        <option [disabled]="true" value=''>Select a model</option>
        <option *ngFor="let c of vehicleModel" [value]="c.id">{{c.name}}</option>
      </select>
      
      <button type="submit" [ngClass]="{disabled : !addVehicle.form.valid}" [disabled]="!addVehicle.form.valid">Add new vehicle details</button>
    </form>
  </div>
</div>